<!-- FOOTER -->
<footer class="footer">
  <div class="footer-container">
    <div class="quick-link">
      <h3>LIENS RAPIDES</h3>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">A propos</a></li>
        <li><a href="#">Nous contacter</a></li>
      </ul>
    </div>
    <div class="social-link">
      <h3>NOS RESEAUX</h3>
      <ul>
        <li><a href="#">Instagram</a></li>
        <li><a href="#">Facebook</a></li>
        <li><a href="#"></a>Twitter</li>
      </ul>
    </div>

    <div class="newsletter">
      <h3>NOTRE NEWSLETTER</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. At quos
        asperiores ex sed voluptatibus debitis quo sunt ratione a illo.
      </p>
      <div class="newsletter-input">
        <div class="input-icons">
          <i class="fa fa-envelope icon"></i>
          <input class="input-field" type="text" />
        </div>
        <span>Envoyer</span>
      </div>
    </div>
  </div>
  <h4>&copy; 2022 Bleu-Blenc tous droits reserver</h4>
  <h5>
    Creer par <strong><a href="#">Grace Kabongo</a></strong>
  </h5>
</footer>
